 <p class="text-4xl text-center font-bold m-14 head-title">Patients</p>

<table class="rounded-t-lg m-5 w-5/6 mx-auto bg-gray-800 text-gray-200">
  <a href="/patients/create" class="add-button">Add</a>
  <tr class="text-left border-b border-gray-300">
    <th class="px-4 py-3">Full Name</th>
    <th class="px-4 py-3">City</th>
    <th class="px-4 py-3">Age</th>
    <th class="px-4 py-3">Gender</th>
    <th class="px-4 py-3">Phone Number</th>
    <th class="px-4 py-3">Doctor</th>
    <th class="px-4 py-3">Action</th>
    
  </tr>


  <% patients.forEach(patient => { %>
  <tr class="bg-gray-700 border-b border-gray-600 hover:bg-gray-500">
    <td class="px-4 py-3"><%= patient.full_name %></td>
    <td class="px-4 py-3"><%= patient.city %></td>
    <td class="px-4 py-3"><%= patient.age %></td>
    <td class="px-4 py-3"><%= patient.gender %></td>
    <td class="px-4 py-3"><%= patient.phone_number %></td>
    <td class="px-4 py-3"><%= patient.doctor ? patient.doctor.full_name : '' %></td>
    
    <td>
      <a href="/patients/<%= patient._id %>" class="bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded-full">
        Edit
      </a>
      <button type="button" href="/patients/<%= patient._id %>" onclick="deletePatient(`<%= patient._id %>`)" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded-full mx-2">
        Delete
      </button>
    </td>
   

  </tr> 
  <% }) %>   
</table>


 
